@font-face {
  font-family: "Norse Bold";
  src: url("./fonts/Norse-Bold.otf");
}

@font-face {
  font-family: "Roboto Regular";
  src: url("./fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto SemiBold";
  src: url("./fonts/Roboto-SemiBold.ttf");
}

/*** CSS Reset ***/

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button,
input,
select,
textarea {
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
}

/*** Custom Properties ***/

:root {
  --main-background: hsl(210, 20%, 98%);
  --light-color: hsl(0, 0%, 100%);
  --credit-color: hsl(84, 19%, 72%);
  --dark-text: hsl(215, 28%, 17%);
  --input-focus-color: hsl(220, 13%, 91%);
  --error: hsl(0, 66%, 44%);
  --primary: hsl(92, 20%, 35%);
  --primary-light: hsl(92, 20%, 45%);
  --roboto-regular: "Roboto Regular", sans-serif;
  --roboto-semi-bold: "Roboto SemiBold", sans-serif;
}

/*** Utility Class ***/

.container {
  padding-left: 4rem;
  padding-right: 4rem;
}

.button {
  padding: 0.7em 2.5em;
  border: 1px solid var(--primary);
  border-radius: 5px;
  font: 1.5rem var(--roboto-semi-bold);
  text-transform: capitalize;
  cursor: pointer;
  color: var(--light-color);
  background-color: var(--primary);
}

.button:hover {
  background-color: var(--primary-light);
}

/*** General Styles ***/

html {
  font-size: 62.5%;
}

body {
  display: flex;
  height: 100vh;
  font-family: var(--roboto-regular);
}

/*** Image Sidebar Styles ***/

.sidebar {
  position: relative;
  max-width: 58em;
  width: 50%;
  flex: auto;
  height: 100%;
  background-image: url("./images/Nature.jpg");
  background-size: cover;
}

.sidebar__logo-wrapper {
  position: absolute;
  top: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15em;
  background-color: hsla(0, 0%, 0%, 50%);
}

.sidebar__logo {
  width: 10em;
}

.sidebar__brand {
  font-family: "Norse Bold", sans-serif;
  font-size: 8rem;
  color: var(--light-color);
}

.sidebar__credit {
  position: absolute;
  bottom: 10px;
  right: 0;
  left: 0;
  text-align: center;
  font-size: 1.7rem;
  color: var(--credit-color);
}

.sidebar__link {
  color: inherit;
}

/*** Sign Up Styles ***/

.signup {
  flex: auto;
  width: 55%;
  padding: 7em 0;
  background-color: var(--main-background);
}

.signup__description {
  margin-bottom: 3em;
  font-family: var(--roboto-semi-bold);
  font-size: 2rem;
  font-weight: 500;
}

.signup__text {
  width: clamp(45ch, 55ch, 75ch);
}

.form {
  margin-bottom: 3em;
}

.signup__form {
  padding: 2em 0 4em;
  margin-bottom: 2em;
  margin-bottom: 3em;
  box-shadow: 0 3px 5px 1px hsla(0, 0%, 0%, 10%);
  background-color: var(--light-color);
}

.signup__title {
  margin-bottom: 1em;
  font: 2rem var(--roboto-semi-bold);
  color: var(--dark-text);
}

.signup__inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 2em 5em;
}

.signup__label {
  display: block;
  margin-bottom: 0.2em;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--dark-text);
}

.signup__input {
  width: 270px;
  padding: 0.5em 0.5em 0.5em 1em;
  border: 2px solid var(--input-focus-color);
  outline: none;
  border-radius: 5px;
  font-size: 1.3rem;
}

.signup__input:focus {
  border-color: hsl(224, 70%, 61%);
  box-shadow: 2px 2px 3px 0 hsla(0, 0%, 0%, 10%);
}

.signup__input:invalid {
  border-color: var(--error);
}

.signup__account {
  font-size: 1.4rem;
}

.login-link {
  text-decoration: none;
  color: var(--primary);
}
